<!DOCTYPE>
<html lang="en">
<head>
  <% include header.ejs %>
</head>
<body>
  <div class="container">
    <section class="content">
      <p>Bind Bitcoin address to <%= email %></p>
      <form action="/bind" method="post" class="pure-form" accept-charset="utf-8">
        <input id="bitcoin_address" type="text" name="bitcoin_address" class="pure-input-rounded pure-input-2-3" placeholder="Enter your Bitcoin address to bind.">
        <input id="token_string" type="hidden" name="token_string"></input>
      </form>
    </section>
  </div>
  <script>
  <% include catchtoken-scripts.ejs %>
  <% include analytics-scripts.ejs %>
  </script>
</body>
<% include footer.ejs %>
</html>
