<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Grbitcoin</title>
<meta name="description" content="A globally recognized Bitcoin address.">
<meta name="keywords" content="bitcoin, btc, grbitcoin, bitcoin email">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="stylesheets/main.css" />
