<!DOCTYPE>
<html lang="en">
  <% include header.ejs %>
  <body>
    <section id="top">
      <div id="menu">
        <a id="toggle" href="#">
          <i class="icon-menu"></i>
        </a>
        <ul>
          <li><a href="#introduction">Introduction</a></li>
          <li><a href="#bind">Bind</a></li>
          <li><a href="#api">API</a></li>
        </ul>
      </div>
      <div id="heading">
        <div id="logo">Grbitcoin</div>
        <div id="tagline">A Globally Recognized Bitcoin address.</div>
      </div>
    </section>
    <section>
      <div class="content">
        <h1 id="introduction">Introduction</h1>
        <p>There are thousands Bitcoin transcations every day, but you can not event remember your Bitcoin address. Find a way to connect to reality or face the reality. Why not send and receive your Bitcoin via email?</p>
        <p>Grbitcoin gives a chance to you to do this, without abandoning decentralized Bitcoin system.</p>
      </div>
    </section>
    <section>
      <div class="content">
        <h1 id="bind">Bind</h1>
        <p>To use Grbitcoin, you have no needs to register another user account. What you should do is just binding your own email. That's it.</p>
        <br>
        <div class="email-send">
          <form class="pure-form">
            <fieldset>
              <input class="pure-input-2-3 pure-input-rounded" type="email" placeholder="Email">
              <!-- <button type="submit" class="pure-button pure-button-primary">I'm in</button> -->
            </fieldset>
          </form>
        </div>
      </div>
    </section>
    <section>
      <div class="content">
        <h1 id="api">API</h1>
        <div class="alert">
          <p>
            <strong>Note</strong>: Grbitcoin 'APIs' are still in beta, we recommend NOT using them in your production environment until the stable version come out.
          </p>
        </div>
        <h2 id="current-version">Current Version</h2>
        <!-- <p>By default, all requests receive the <strong>v1</strong> of the API. We encourage you to explicityly request this version via the <code>Accept</code> header.</p>
        <pre><code>Accept: application/vnd.grbitcoin.v1+json</code></pre> -->
        <p>By default, all requests receive the <strong>v1</strong> of the API. Currently, we encourage you to explicityly request this version via url.</p>
        <pre><code>api.grbitcoin.com/v1</code></pre>
        <h2 id="schema">Schema</h2>
        <p>All API is accessed form <code>api.grbitcoin.com</code> domain. All data is sent and received as JSON. Currently All API access is over HTTP.</p>
        <pre class="terminal">$ curl -i http://api.grbitcoin.com/v1/bitcoins/0day.zh@gmail.com

HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
Content-Length: 84
Date: Thu, 08 Jan 2015 17:52:11 GMT
Connection: keep-alive

{
  "bitcoin_address":"19QT9EarJHQ97aV17TYaBgoyNhCqN1vthH",
  "email":"0day.zh@gmail.com"
}</pre>
        <h2>Get a Bitcoin address</h2>
        <pre><code>GET /bitcoins/:email</code></pre>
        <h3>Response</h3>
        <pre class="headers"><code>Status: 200 OK</code></pre>
        <pre class="body-response"><code>{
  "email": "0day.zh@gmail.com",
  "bitcoin_address": "19QT9EarJHQ97aV17TYaBgoyNhCqN1vthH"
}</code></pre>
        <p>
          Note: Requests passing unbinded <code>:email</code> will return <code>404 Not Found</code>.
        </p>
        <h2>Get an email address</h2>
        <pre><code>GET /emails/:bitcoin_address</code></pre>
        <h3>Response</h3>
        <pre class="headers"><code>Status: 200 OK</code></pre>
        <pre class="body-response"><code>{
  "email": "0day.zh@gmail.com",
  "bitcoin_address": "19QT9EarJHQ97aV17TYaBgoyNhCqN1vthH"
}</code></pre>
        <p>
          Note: Requests passing unbinded <code>:bitcoin_address</code> will return <code>404 Not Found</code>.
        </p>
      </div>
    </section>
    <% include footer.ejs %>
    <script>
      <% include analytics-scripts.ejs %>
    </script>
  </body>
</html>
