<div class="container">
  <section class="content">
    <svg width="260px" height="53px" viewBox="0 0 260 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Grbitcoin</title>
        <defs>
            <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
                <feOffset dx="1" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
                <feMerge>
                    <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                    <feMergeNode in="SourceGraphic"></feMergeNode>
                </feMerge>
            </filter>
        </defs>
        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <g id="Artboard-5" sketch:type="MSArtboardGroup" transform="translate(-15.000000, -7.000000)" filter="url(#filter-1)" font-weight="260" font-family="Helvetica Neue" fill="white" font-size="64" sketch:alignment="middle">
                <text id="Grbitcoin" sketch:type="MSTextLayer">
                    <tspan x="15" y="55" fill="#FFFFFF">Grbitcoin</tspan>
                </text>
            </g>
        </g>
    </svg>
    <p>A globally recognized Bitcoin address.</p>
    <form action="/sendEmail" method="post" accept-charset="utf-8">
      <input type="text" name="email">
    </form>
  </section>
</div>
<% include analytics-scripts.ejs %>
