<!DOCTYPE>
<html lang="en">
  <head>
    <% include header.ejs %>
  </head>
  <body>
    <div id="message">
      <div style="padding: 5px;">
        <div id="inner-message" data-alerts="alerts" data-fade="4000">
        </div>
      </div>
    </div>
    <section id="top">
      <div id="menu">
        <a id="toggle" href="#">
          <i class="icon-menu"></i>
        </a>
        <ul>
          <li><a href="#introduction">Introduction</a></li>
          <li><a href="#bind">Bind</a></li>
          <li><a href="#partners">Partners</a></li>
          <li><a href="#api">API</a></li>
        </ul>
      </div>
      <div id="heading">
        <div id="logo">Grbitcoin</div>
        <div id="tagline">A Globally Recognized Bitcoin address.</div>
      </div>
    </section>
    <section>
      <div class="content">
        <h1 id="introduction">Introduction</h1>
        <p>There are thousands Bitcoin transcations every day, but you can not event remember your Bitcoin address. Find a way to connect to reality or face the reality. Why not send and receive your Bitcoin via email?</p>
        <p>Grbitcoin gives a chance to you to do this, without abandoning decentralized Bitcoin system.</p>
      </div>
    </section>
    <section>
      <div class="content">
        <h1 id="bind">Bind</h1>
        <p>To use Grbitcoin, you have no needs to register another user account. What you should do is just binding your own email to your bitcoin address via email. That's it.</p>
        <br>
        <div class="email-send">
          <form id="submit_form_email" class="pure-form" novalidate>
            <input type="email" id="email_input" name="email" class="pure-input-rounded pure-input-2-3" placeholder="Enter your own email" required>
          </form>
        </div>
      </div>
    </section>
    <section>
      <div class="content">
        <h1 id="partners">Partners</h1>
        <p>Pirates never raise the sail alone.</p>
        <p>Embed Grbitcoin on your production and let us know.</p>
        <br>
        <div id="email-us-container">
          <a class="button-secondary pure-button" href="mailto:helloword@grbitcoin.com">Email us</a>
        </div>
        <br>
      </div>
    </section>
    <section>
      <div class="content">
        <h1 id="api">API</h1>
        <div class="tips-notice">
          <p>
            <strong>Note</strong>: Grbitcoin 'APIs' are still in beta, we recommend NOT using them in your production environment until the stable version come out.
          </p>
        </div>
        <h2 id="current-version">Current Version</h2>
        <p>By default, all requests receive the <strong>v1</strong> of the API. Currently, we encourage you to explicityly request this version via url.</p>
        <pre><code>api.grbitcoin.com/v1</code></pre>
        <h2 id="schema">Schema</h2>
        <p>All API is accessed form <code>api.grbitcoin.com</code> domain. All data is sent and received as JSON. Currently, all API access is over HTTP.</p>
        <pre class="terminal">$ curl -i http://api.grbitcoin.com/v1/bitcoins/helloworld@grbitcoin.com

HTTP/1.1 200 OK
X-RateLimit-Limit: 2000
X-RateLimit-Remaining: 1999
X-RateLimit-Reset: 1421419159294
Content-Type: application/json; charset=utf-8
Content-Length: 84
Date: Thu, 08 Jan 2015 17:52:11 GMT
Connection: keep-alive

{
  "bitcoin_address":"1L4DYmpJjYRzhWADHFZ77CA4K1fzaDX82s",
  "email":"helloworld@grbitcoin.com"
}</pre>
        <h2>Clients Errors</h2>
        <p>There is one possible type of client errors on API calls that receive request bodies:</p>
        <ol>
          <li>
            <p>Sending invalid fields will result in a <code>422 Unprocessable Entity</code> response.</p>
            <pre class="terminal"><code>HTTP/1.1 422 Unprocessable Entity
Content-Length: 31

{
  "message": "Validation Failed"
}</code></pre>
          </li>
        </ol>
        <h2>Rate Limiting</h2>
        <p>For requests in Beta version, you can make up to 2,000 requests per hour.</p>
        <p>You can check the returned HTTP headers of any API request to see your current rate limit status:</p>
        <pre class="terminal">$ curl -i http://api.grbitcoin.com/v1/bitcoins/helloworld@grbitcoin.com

HTTP/1.1 200 OK
X-RateLimit-Limit: 2000
X-RateLimit-Remaining: 1999
X-RateLimit-Reset: 1421419159294
Date: Thu, 08 Jan 2015 17:52:11 GMT</pre>
        <p>The headers tell you everything you need to know about your current rate limit status:</p>
        <table>
          <thead>
            <tr>
              <th>Header Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>X-RateLimit-Limit</code></td>
              <td>The maximum number of requests that the consumer is permitted to make per hour.</td>
            </tr>
            <tr>
              <td><code>X-RateLimit-Remaining</code></td>
              <td>The number of requests remaining in the current rate limit window.</td>
            </tr>
            <tr>
              <td><code>X-RateLimit-Reset</code></td>
              <td>The time at which the current rate limit window resets in <a href="http://en.wikipedia.org/wiki/Unix_time">UTC epoch seconds</a>.</td>
            </tr>
          </tbody>
        </table>
        <h2>Email Hash</h2>
        <p>All URLs on Grbitcoin are based on the use of the hashed value of an email address.To ensure a consistent and accurate hash, the following steps should be taken to create a hash:</p>
        <p>As an example, let's start with "HelloWorld@Grbitcoin.com  " (note the trailing space which our hypothetical user entered by mistake). If we md5 encode that string directoly, we get the following (in javascript):</p>
        <pre><code>var result = crypto.createHash('md5')
               .update('HelloWorld@Grbitcoin.com  ')
               .digest('hex');
console.log(result);
// '3a6a8af0babedcbb7a9afb92d2fb4385'</pre></code>
        <p>Here is the right way to create a email_hash:</p>
        <ol>
          <li>
            <p>Trim leading and trailing whitespace from an email address</p>
            <pre><code>var result = 'HelloWorld@Grbitcoin.com  '.trim();
console.log(result);
// 'HelloWorld@Grbitcoin.com'</code></pre>
          </li>
          <li>
            <p>Force all characters to lower-case</p>
            <pre><code>var result = 'HelloWorld@Grbitcoin.com  '.trim().toLowerCase();
console.log(result);
// 'helloworld@grbitcoin.com'</code></pre>
          </li>
          <li>
            <p>md5 hash the final string</p>
            <pre><code>var result = crypto.createHash('md5')
                   .update('HelloWorld@Grbitcoin.com  '.trim().toLowerCase())
                   .digest('hex');
console.log(result);
// '3fd0b1611f4cea2a38f1c44a73e1a0ea'</code></pre>
          </li>
        </ol>
        <h2>Get a Bitcoin address</h2>
        <pre><code>GET /bitcoins/:email_hash</code></pre>
        <h3>Response</h3>
        <pre class="headers"><code>Status: 200 OK</code></pre>
        <pre class="body-response"><code>{
  "bitcoin_address": "1L4DYmpJjYRzhWADHFZ77CA4K1fzaDX82s"
}</code></pre>
        <p>
          Note: Requests passing unbinded <code>:email</code> will return <code>404 Not Found</code>.
        </p>
      </div>
    </section>

    <% include footer.ejs %>

    <script><% include analytics-scripts.ejs %></script>
    <script src="/scripts/jquery-1.11.2.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/jquery.bsAlerts.js"></script>

    <script src="/scripts/index-events.js"></script>
  </body>
</html>
