<!DOCTYPE>
<html lang="en">
  <% include header.ejs %>
  <body>
    <section id="top">
      <div id="menu"></div>
      <div id="heading">
        <div id="logo">Grbitcoin</div>
        <div id="tagline">A Globally Recognized Bitcoin address.</div>
      </div>
    </section>
    <section>
      <div class="content">
        <h1 id="introduction">Introduction</h1>
        <p>"There are thousands Bitcoin transcations every day, but you can not event remember your Bitcoin address. So face the reality or find a way to connect to reality. Grbitcoin gives a chance to you to bind your public Bitcoin address with your email. So why not send and receive Bitcoin via email?"</p>
      </div>
    </section>
    <script>
      <% include analytics-scripts.ejs %>
    </script>
  </body>
</html>
